<div class="search-bar row">
  <mat-form-field appearance="fill"
                  floatLabel="always">
    <mat-label>Enter your user address</mat-label>
    <input [formControl]="_inputNameCtrl"
           matInput
           placeholder="tz1gfArv665EUkSg2ojMBzcbfwuPxAvqPvjo">
  </mat-form-field>
</div>

<mat-card>
  <app-stats-table (dataRequested)="_handleDataRequested($event)"
                   [dataLoading]="_dataLoading$ | async"
                   [exchangeRate]="_tx2DollarExchangeRate$ | async"
                   [filteredUser]="_filteredUser$ | async"
                   [mostRecentCycle]="_mostRecentCycle$ | async"
                   [transactions]="_transactions$ | async">
  </app-stats-table>
</mat-card>
