:host {
  padding: 20px;
  display: block;
  max-width: 100%;
}

.search-bar {
  margin-bottom: 10px;

  .mat-form-field {
    flex: 1;
  }

  &>button {
    min-width: auto;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 100%;

  &>*:not(:last-child) {
    margin-right: 10px;
  }
}

.mat-card {
  margin-top: 20px;
}
