<div class="search-bar row">
  <mat-form-field appearance="fill"
                  floatLabel="always">
    <mat-label>Enter your user token</mat-label>
    <input matInput
           [formControl]="_inputNameCtrl"
           placeholder="tz1gfArv665EUkSg2ojMBzcbfwuPxAvqPvjo">
  </mat-form-field>

  <button (click)="_getTransactions()"
          [disabled]="!_inputNameCtrl.value"
          mat-raised-button
          color="accent">GET TRANSACTIONS
  </button>
</div>

<mat-card>
  <app-stats-table (dataRequested)="_handleDataRequested($event)"
                   [dataLoading]="_dataLoading$ | async"
                   [filteredUser]="_filteredUser$ | async"
                   [transactions]="_transactions$ | async"
                   [exchangeRate]="_tx2DollarExchangeRate$ | async"
                   [mostRecentCycle]="_mostRecentCycle$ | async">
  </app-stats-table>
</mat-card>
